/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
html, body {
    height: 100%;
}

body {
    background: grey;
    margin: 0 auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
