<mat-card>
    <form #todoForm="ngForm" (submit)="addTodo()" [formGroup]="myTodo">
        <div class="add-todo">
            <label for="todo">Todo<br>
                <input type="text" id="todo" formControlName="newTodo">
            </label>
            <button type="submit" [disabled]="todoForm.invalid">add todo</button>
        </div>
        <div class="error" *ngIf="newTodo?.invalid && newTodo?.touched && newTodo?.errors?.required">
            Please add a new Todo!
        </div>

        <div class="error" *ngIf="newTodo?.invalid && newTodo?.touched && newTodo.errors?.minlength">
            Todo should be at least 6 characters long!
        </div>
    </form>
</mat-card>


<todo-list [todos]="todos" (newDeleteEvent)="removeTodo($event)"></todo-list>
