


<form (submit)="addTodo($event)" >
    <div class="add-todo">
        <mat-form-field class="new-todo-form-field">
            <mat-label>Todo</mat-label>
            <input type="text" matInput [formControl]="todoFormControl" placeholder="Ex. go shopping" >
            <button mat-button *ngIf="todoFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue($event)">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="todoFormControl.hasError('minlength') && !todoFormControl.hasError('required')">
                Todo should be at least 6 characters long!
            </mat-error>
            <mat-error *ngIf="todoFormControl.hasError('required')">
                Todo is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button mat-flat-button type="submit" [disabled]="todoFormControl.invalid">add todo</button>
    </div>
</form>


<todo-list [todos]="todos" (newDeleteEvent)="removeTodo($event)"></todo-list>
